# Python Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Simulation Data and Heatmaps
data/*.csv
data/*.png

# VS Code settings
.vscode/

# LaTeX Auxiliary Files (if you compile your report locally)
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz